<launch>
  <arg name="start_robot_bringup" default="true"/>
  <arg name="gazebo_gui" default="true"/>

  <arg name="start_wrench_corrector" default="true"/>
  <arg name="start_external_wrench_applier" default="true"/>
  <arg name="start_periodic_wrench" default="true"/>
  <arg name="start_debug_visualizer" default="true"/>
  <arg name="start_rviz" default="true"/>
  <arg name="start_rqt_plots" default="false"/>
  <arg name="start_report_plotter" default="true"/>

  <arg name="control_rate_hz" default="100.0"/>
  <arg name="force_lpf_cutoff_hz" default="10.0"/>

  <arg name="fixed_position" default="[0.45, 0.0, 0.55]"/>
  <arg name="fixed_orientation" default="[0.0, 0.0, 0.0, 1.0]"/>

  <arg name="md_diag" default="[1.0, 1.0, 1.0]"/>
  <arg name="bd_diag" default="[50.0, 50.0, 50.0]"/>
  <arg name="kd_diag" default="[200.0, 200.0, 200.0]"/>

  <arg name="wrench_axis" default="x"/>
  <arg name="wrench_amplitude" default="10.0"/>
  <arg name="wrench_frequency" default="0.5"/>
  <arg name="path_max_points" default="500"/>
  <arg name="report_output_dir" default="~/.ros/ur5_admittance_reports"/>

  <group if="$(arg start_robot_bringup)">
    <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
      <arg name="paused" value="false"/>
      <arg name="gui" value="$(arg gazebo_gui)"/>
      <arg name="transmission_hw_interface" value="hardware_interface/PositionJointInterface"/>
      <arg name="controller_config_file" value="$(find ur5_gazebo)/config/ur5_controllers.yaml"/>
      <arg name="controllers" value="joint_state_controller ur5_arm_controller"/>
    </include>
  </group>

  <group if="$(arg start_wrench_corrector)">
    <include file="$(find ur5_gazebo)/launch/ur5_ft_wrench_corrector.launch">
      <arg name="raw_topic" value="/ur5/ft_sensor/wrench"/>
      <arg name="corrected_topic" value="/ur5/ft_sensor/wrench_corrected"/>
      <arg name="tare_topic" value="/ur5/ft_sensor/tare"/>
      <arg name="use_initial_tare" value="false"/>
      <arg name="require_tare_before_publish" value="false"/>
    </include>
  </group>

  <group if="$(arg start_external_wrench_applier)">
    <include file="$(find ur5_gazebo)/launch/ur5_external_wrench_applier.launch">
      <arg name="body_name" value="robot::wrist_3_link"/>
      <arg name="command_topic" value="/ur5/ft_sensor/command_wrench"/>
      <arg name="reference_frame" value="world"/>
      <arg name="apply_rate_hz" value="100.0"/>
      <arg name="command_timeout" value="0.3"/>
    </include>
  </group>

  <node pkg="ur5_gazebo_advance"
        type="ur5_admittance_fixed_point_controller.py"
        name="ur5_admittance_fixed_point_controller"
        output="screen">
    <param name="control_rate_hz" value="$(arg control_rate_hz)"/>
    <param name="force_lpf_cutoff_hz" value="$(arg force_lpf_cutoff_hz)"/>

    <param name="wrench_topic" value="/ur5/ft_sensor/wrench_corrected"/>
    <param name="ee_pose_topic" value="/ur5/ee_pose"/>
    <param name="command_topic" value="/ur5_arm_controller/command"/>

    <rosparam param="fixed_position" subst_value="true">$(arg fixed_position)</rosparam>
    <rosparam param="fixed_orientation" subst_value="true">$(arg fixed_orientation)</rosparam>

    <rosparam param="Md_diag" subst_value="true">$(arg md_diag)</rosparam>
    <rosparam param="Bd_diag" subst_value="true">$(arg bd_diag)</rosparam>
    <rosparam param="Kd_diag" subst_value="true">$(arg kd_diag)</rosparam>

    <param name="ik_position_only" value="true"/>
    <param name="use_current_pose_as_fixed" value="false"/>
  </node>

  <node if="$(arg start_periodic_wrench)"
        pkg="ur5_gazebo_advance"
        type="ur5_periodic_wrench_publisher.py"
        name="ur5_periodic_wrench_publisher"
        output="screen">
    <param name="topic" value="/ur5/ft_sensor/command_wrench"/>
    <param name="frame_id" value="world"/>
    <param name="rate_hz" value="100.0"/>
    <param name="axis" value="$(arg wrench_axis)"/>
    <param name="amplitude" value="$(arg wrench_amplitude)"/>
    <param name="frequency" value="$(arg wrench_frequency)"/>
  </node>

      <node if="$(arg start_debug_visualizer)"
        pkg="ur5_gazebo_advance"
        type="ur5_admittance_debug_visualizer.py"
        name="ur5_admittance_debug_visualizer"
        output="screen">
        <param name="raw_wrench_topic" value="/ur5/ft_sensor/wrench"/>
        <param name="corrected_wrench_topic" value="/ur5/ft_sensor/wrench_corrected"/>
        <param name="ee_pose_topic" value="/ur5/ee_pose"/>
        <param name="reference_pose_topic" value="/ur5/admittance/reference_pose"/>
        <param name="publish_rate_hz" value="$(arg control_rate_hz)"/>
        <param name="force_lpf_cutoff_hz" value="$(arg force_lpf_cutoff_hz)"/>
        <param name="default_frame_id" value="base_link"/>
        <param name="path_max_points" value="$(arg path_max_points)"/>
      </node>

      <node if="$(arg start_rviz)"
        pkg="rviz"
        type="rviz"
        name="ur5_admittance_rviz"
        args="-d $(find ur5_gazebo_advance)/config/ur5_admittance_visualization.rviz"
        output="screen"/>

      <node if="$(arg start_rqt_plots)"
        pkg="rqt_plot"
        type="rqt_plot"
        name="ur5_admittance_force_plot"
        args="/ur5/admittance/debug/raw_force_norm /ur5/admittance/debug/corrected_force_norm /ur5/admittance/debug/filtered_force_norm"
        output="screen"/>

      <node if="$(arg start_rqt_plots)"
        pkg="rqt_plot"
        type="rqt_plot"
        name="ur5_admittance_delta_plot"
        args="/ur5/admittance/debug/delta_pos/vector/x /ur5/admittance/debug/delta_pos/vector/y /ur5/admittance/debug/delta_pos/vector/z /ur5/admittance/debug/delta_pos_norm"
        output="screen"/>

      <node if="$(arg start_rqt_plots)"
        pkg="rqt_plot"
        type="rqt_plot"
        name="ur5_wrench_compare_plot"
        args="/ur5/ft_sensor/wrench/wrench/force/x /ur5/ft_sensor/wrench_corrected/wrench/force/x /ur5/admittance/debug/filtered_force/vector/x"
        output="screen"/>

      <node if="$(arg start_report_plotter)"
            pkg="ur5_gazebo_advance"
            type="ur5_admittance_report_plotter.py"
            name="ur5_admittance_report_plotter"
            output="screen">
        <param name="raw_wrench_topic" value="/ur5/ft_sensor/wrench"/>
        <param name="corrected_wrench_topic" value="/ur5/ft_sensor/wrench_corrected"/>
        <param name="ee_pose_topic" value="/ur5/ee_pose"/>
        <param name="reference_pose_topic" value="/ur5/admittance/reference_pose"/>
        <param name="sample_rate_hz" value="50.0"/>
        <param name="force_lpf_cutoff_hz" value="$(arg force_lpf_cutoff_hz)"/>
        <param name="output_root_dir" value="$(arg report_output_dir)"/>
      </node>
</launch>
